BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "key[0]" SITE "C8" ;
LOCATE COMP "key[1]" SITE "B8" ;
LOCATE COMP "key[2]" SITE "E3" ;
LOCATE COMP "key[3]" SITE "F3" ;
LOCATE COMP "key[4]" SITE "G3" ;
LOCATE COMP "key[5]" SITE "H3" ;
LOCATE COMP "key[6]" SITE "J2" ;
LOCATE COMP "key[7]" SITE "J3" ;
LOCATE COMP "key[8]" SITE "K2" ;
LOCATE COMP "key[9]" SITE "K3" ;
LOCATE COMP "key[10]" SITE "L3" ;
LOCATE COMP "key[11]" SITE "N5" ;
LOCATE COMP "key[12]" SITE "P6" ;
LOCATE COMP "key[13]" SITE "N6" ;
LOCATE COMP "key[14]" SITE "P7" ;
LOCATE COMP "key_pa" SITE "N4" ;
LOCATE COMP "key_state" SITE "L14" ;
LOCATE COMP "rst_n" SITE "N14" ;
LOCATE COMP "sys_clk" SITE "C1" ;
LOCATE COMP "pwm_out1" SITE "P8" ;
LOCATE COMP "pwm_out2" SITE "N8" ;
